* {
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app-title {
    font-size: 2.5rem;
    font-weight: 100;
    margin: 0.5rem;
}

.list-title {
    font-size: 2rem;
    font-weight: 100;
    margin: 0.5rem;
}

#todo-app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: antiquewhite;
    padding: 1rem;
    border-radius: 0.75rem;
    border: 2px solid black;
    width: 400px;
    height: 500px;
}

.formStyle {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

#todo-input {
    flex-grow: 1;
    padding: 0.75rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    border: 1px solid lightgray;
}

#todo-input:focus {
    outline: 1px solid palevioletred;
}

.buttonStyle {
    background-color: darkorange;
    color: white;
    border-radius: 0.5rem;
    padding: 0.75rem 1.5rem;
    border: none;
    cursor: pointer;
}

.buttonStyle:hover {
    background-color: orangered;
}

#todo-list {
    list-style: none;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: auto;
    height: 300px;
    max-height: 400px;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
}

.custom-delete {
    color: #999999;
    font-weight: 700;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}

.custom-delete:hover {
    color: red;
}

#todo-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#todo-list li div {
    display: flex;
    align-items: center;
    gap: 10px;
}
